face_recognition==1.3.0
numpy
opencv-python
fer 
playsound
facenet-pytorch 
ffmpeg==1.4 
keras 
matplotlib 
opencv-contrib-python 
pandas 
moviepy 
pillow==10.2.0
tensorflow
dash
dash_core_components
dash_html_components
dash_bootstrap_components
dash_daq
dash_mantine_components
dash_table
dash_auth
dash_bootstrap_templates
flask 
plotly 
pandas
Flask
fpdf
gTTS
torch
mediapipe
fpdf



